<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <% if @breed.name != "Other" %>
          <h1>Types of <%= @breed.name %>s</h1>
        <% end %>
        <% if @breed.name == "Other" %>
          <h1>Other Breeds</h1>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="section">
<div class="container">
<% @breed.pets.each do |pet| %>
  <div class="col-sm-6">
    <div class="portfolio-item">
      <div class="portfolio-image">
        <a href="/pets/<%= pet.id %>"><img src="<%= pet.image %>" height="335" width="335"></a>
      </div>
      <div class="portfolio-info-fade">
        <ul>
          <li class="portfolio-project-name"><%= pet.name %></li>
          <li>Birthdate: <%= pet.birthdate %></li>
          <li>Gender: <%= pet.gender %></li>
          <% if current_user.id != pet.user_id %>
            <br>
            <br>
            <li><a href="page-portfolio-item.html" class="btn">Match</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>