  <div id='pet_bio'>
    <% @pets.each do |pet| %>
      <a href="/pets/<%= pet.id %>"><img src='<%= pet.image %>' height='335' width='335'></a>
      <p>
        <%= pet.name %>
        <br>
        <br>
        Birthdate: <%= pet.birthdate %>
        <br>
        Gender: <%= pet.gender %>
      </p>
      <br>
      <br>
    <% end %>
  </div>

<br>
<br>
<br>
<a href='/pets/new'>Let me add my beautiful pup!</a>
<br>
<br>
<a href='/breeds'>I want to see the breeds</a>
<br>
<br>
<br>
<br>
<br>
<a href='/logout'>Logout</a>