<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Welcome <%= current_user.first_name %></h1>
      </div>
    </div>
  </div>
</div>


<div class="section">
<div class="container">
<h3>Your Pets</h3>
<% @pets.each do |pet| %>
  <div class="col-sm-6">
    <div class="portfolio-item">
      <div class="portfolio-image">
        <a href="/pets/<%= pet.id %>"><img src="<%= pet.image %>" height="335" width="335"></a>
      </div>
      <div class="portfolio-info-fade">
        <ul>
          <li class="portfolio-project-name"><%= pet.name %></li>
          <li>Birthdate: <%= pet.birthdate %></li>
          <li>Gender: <%= pet.gender %></li>
          <br>
          <br>
          <a href="/pets?pet_id=<%= pet.id %>" class="btn">Select This Pet</a>
          <a href="/pets/<%= pet.id %>" class="btn">Delete This Pet</a>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<div style="align: right;">
  <a href="/pets/new" class="btn">Register New Pet</a>
  <br>
  <br>
  <a href="/matches" class="btn">See Your Matches</a>
</div>
</div>
</div>