<script type="text/javascript">
  matchId = <%= @confirmed_match.id %>;
  petId = <%= @pet_id || @confirmed_match.pet_id %>;
  inversePetId = <%= @confirmed_match.inverse_pet_id %>;
</script>

<!-- Page Title -->
  <div class="section section-breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Breedr Chat</h1>
        </div>
      </div>
    </div>
  </div>


      <div class="row-sm-6">
        <div class="center-image-header">
          <div class="portfolio-item">
            <div class="portfolio-image">
                <img src="<%= @confirmed_match.pet.image %>" height="300" width="335">
                <img src="<%= @confirmed_match.inverse_pet.image %>" height="300" width="335">
            </div>
            <div class="portfolio-info-fade">
              <ul>
                <li class="portfolio-project-name"><%= @confirmed_match.pet.name %> &hearts; <%= @confirmed_match.inverse_pet.name %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="app">
          <div v-for="message in messages" class="container">
            <div :class="{'chat-bubble': true, 'chat-bubble-right': message.petId === 5}">
              <b>{{ message.petName }}</b>: <p>{{ message.body }}</p>
            </div>
          </div>
        

        <input type="hidden" v-model="matchId" value="<%= @confirmed_match.id %>">
        <input type="hidden" v-model="petId" value="<%= @confirmed_match.pet_id %>">
        <input type="hidden" v-model="inversePetId" value="<%= @confirmed_match.inverse_pet_id %>">
        <br>
        <br>
        <div class="new-message">
          <input type="text" v-model="newMessageBody" size="125">
          <button v-on:click="createMessage()" class="btn">Send</button>
        </div>
      </div>

    </div>
  </div>

<style type="text/css">

  .center-image-header {
    margin: auto;
  }

  .new-message {
    margin: auto;
    padding-left: 10%;
    width: 100%;
  }

  .container {
    position: relative;
    margin: 15px;
    padding: 5 20px;
  }

  .chat-bubble {
    max-width: 900px;
    width: 900px;
    z-index: 1;
    margin: 0 auto;
    height: 47px;
    background: #A0CFEC;
    border: 7px solid #A0CFEC;
    border-radius: 15px;
    position: relative;
    text-align: left;
  }

  .chat-bubble-right {
    /*max-width: 700px;*/
    /*width: 100%;*/
    /*z-index: 1;*/
    /*margin: 0 auto;*/
    /*height: 47px;*/
    background: #98AFC7;
    border: 7px solid #98AFC7;
    /*border-radius: 15px;*/
    position: relative;
    text-align: right;
  }
</style>