<script type="text/javascript">
  matchId = <%= @confirmed_match.id %>;
  petId = <%= @confirmed_match.pet_id %>;
  inversePetId = <%= @confirmed_match.inverse_pet_id %>;
</script>

<!-- Page Title -->
  <div class="section section-breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Breedr Chat</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row-sm-6">
        <div class="portfolio-item">
          <div class="portfolio-image">
              <img src="<%= @confirmed_match.pet.image %>" height="300" width="335">
              <img src="<%= @confirmed_match.inverse_pet.image %>" height="300" width="335">
          </div>
          <div class="portfolio-info-fade">
            <ul>
              <br>
              <br>
              <br>
              <li class="portfolio-project-name"><%= @confirmed_match.pet.name %> &hearts; <%= @confirmed_match.inverse_pet.name %></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="app">
        <div v-for="message in messages" class="container">
            <div class="chat-bubble">
              <img src="{{ message.petName }}" height="30" width="30">: {{ message.body }}
            </div>
        </div>

        <input type="hidden" v-model="matchId" value="<%= @confirmed_match.id %>">
        <input type="hidden" v-model="petId" value="<%= @confirmed_match.pet_id %>">
        <input type="hidden" v-model="inversePetId" value="<%= @confirmed_match.inverse_pet_id %>">
        <br>
        <br>
        <div class="new-message">
          <input type="text" v-model="newMessageBody">
          <button v-on:click="createMessage()" class="btn">Send</button>
        </div>
      </div>

    </div>
  </div>

<style type="text/css">
  .new-message{
    float: right;
  }

  .container {
    position: relative;
    margin: 15px;
    padding: 0 15px;
  }

  .chat-bubble {
    max-width: 700px;
    width: 100%;
    z-index: 1;
    margin: 0 auto;
    height: 47px;
    background: #7ABFED;
    border-radius: 15px;
    border: 8px solid #7ABFED;
    position: relative;
  }
</style>